Здравствуйте, {{form.name.data}}!

Спасибо за регистрацию в системе AdMill
Ваш логин: {{form.email.data}}
Ваш пароль: {{form.passwd.data}}

Теперь Вы можете скачать программу для установки, которая позволит вам зарабатывать в партнерской сети AdMill.

Если у Вас возникли вопросы по работе с системой AdMill, напишите нам на info@admill.ru, мы будем рады на них ответить.

Это письмо было отправлено почтовым роботом, пожалуйста, не отвечайте на это письмо.
Если вы получили это письмо по ошибке, проигнорируйте его.

С уважением,
cлужба поддержки
AdMill
