# PostgreSQL
POSTGRES_PASSWORD=sample
POSTGRES_USER=sample
# For stage and local

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=c21n1b32_4rc*enso@)lz(77mw@et09ixk@nwd_!+7j+1^tnlx
DJANGO_ALLOWED_HOSTS=.example.com

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_DEFAULT_FROM_EMAILL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Sentry
DJANGO_SENTRY_DSN=

# Loggly
LOGGLY_TOKEN=

# Redis settings
REDIS_HOST=

# Set timezone to your local, for example TZ=UTC
TZ=Etc/UTC

# If you want automatic certificate install and renewal
LETSENCRYPT=true
# Also you can set your own cert and key
# LETSENCRYPT=false
# SSL_CERT=<path>
# SSL_KEY=<path>

# Your email
LE_EMAIL=<example@email.com>

# Domain
LE_FQDN=example.com
# For multiple FQDNs you can pass comma-separated list, like
# LE_FQDN=aaa.example.com,bbb.example.com


EMAIL_HOST = 'localhost'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'django'
EMAIL_HOST_PASSWORD = 'mys3cr3tp4ssw0rd'
EMAIL_USE_TLS = True
