{% extends "base.html" %}
{% block scripts %}
        {% from "helpers/date.html" import daterage %}
        {{ daterage(format='DD.MM.YYYY') }}
{% endblock %}
{% block content %}
    {% if form %}
        {% from "helpers/form.html" import render_form %}
        {{ render_form(form, method='get') }}
    {% endif %}
{% if stats.items %}
{% from "helpers/pagination.html" import render_pagination %}
{{ render_pagination(stats) }}
{% from "helpers/table.html" import render_table %}
{{ render_table(table_header, stats.items, total, default_sort, default_dir) }}
{% from "helpers/pagination.html" import render_pagination %}
{{ render_pagination(stats) }}
{% else %}
<table class="table table-hover">
    <tbody>
        <tr>
            <td>По вашему запросу ничего не найдено</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}